############################
# Build folders (.NET)
############################
**/bin/
**/obj/
**/out/
**/publish/

*.dll
*.exe
*.pdb

############################
# Rider / Visual Studio / VS Code
############################
.vs/
.idea/

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

############################
# User files
############################
*.user
*.suo
*.userosscache
*.sln.docstates

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# NuGet
############################
*.nupkg
packages/
.nuget/
*.snupkg

############################
# Docker
############################
docker-compose.override.yml
.env

############################
# Logs
############################
*.log

############################
# Temporary files
############################
*.tmp
*.temp
*.cache
*.fake