services:
  postgres:
    image: postgres:13.3
    environment:
      POSTGRES_DB: "milk_logic"
      POSTGRES_USER: "ml_root"
      POSTGRES_PASSWORD: "password"
    volumes:
      - .:/docker-entrypoint-initdb.d
    ports:
      - "3232:3232"