.date-range-picker{
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 12px 0 20px 0;
}

.date-range-picker input {
  background-color: #1e1e1e;
  color: #e5e5e5;
  border: 1px solid #3a3a3a;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 16px;
  width: 240px;
  transition: border 0.2s ease;
}

.date-range-picker__container input:focus {
  outline: none;
  border-color: #3a3a3a;;
}

.date-picker-input:disabled {
  background-color: #252525;
  color: #777;
  border-color: #333;
  cursor: not-allowed;
  opacity: 0.6;
}

.show-button{
  padding: 8px 18px;
  background: #1e1e1e;
  border: 1px solid #444;
  border-radius: 6px;
  color: #e6edf3;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 14px;
}

.show-button:hover {
  background: #2a2a2a;
  border: 1px solid #444;
}

.show-button:active {
  transform: scale(0.97);
}

.show-button:disabled {
  background-color: #252525;
  color: #777;
  border-color: #333;
  cursor: not-allowed;
  opacity: 0.6;
}